# Ambiente virtual (Pastas)
.venv/
venv/
env/

# Configurações de Ambiente (Arquivos de chaves/senhas)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Banco de dados local
*.db
*.sqlite3

# Uploads locais (não precisa mais com Cloudinary)
static/uploads/

# IDE
.vscode/
.idea/

# Logs
*.log